.search-panel {
    padding   : 12px 0;
    background: linear-gradient(0deg, #e2e2e1, #fffffe);

    &__col {
        flex-grow: 1;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 700px) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 700px) {
            align-items: flex-start;
            flex-direction: column;
        }
    }


}

.search-tag {
    min-height   : 25px;
    padding      : 0 14px;
    border-radius: 30px;
    color        : #282828;
    line-height  : 23px;
    border       : 1px solid #867d67;
    font-size    : 1.2rem;
    font-weight  : 400;
    text-shadow  : none;

    margin-top : 5px;
    margin-left: 9px;
}

.tekijapankki-btn {
    display           : inline-block;
    min-height        : 30px;
    padding           : 0 15px;
    border            : 1px solid rgba(0, 0, 0, .3);
    border-radius     : 0;
    background-color  : #fff;
    background-image  : none;
    background-origin : border-box;
    color             : #666;
    font              : inherit;
    font-weight       : 700;
    line-height       : 28px;
    text-align        : center;
    text-decoration   : none;
    text-shadow       : 0 1px 0 #fff;
    text-transform    : none;
    overflow          : visible;
    vertical-align    : middle;
    -webkit-appearance: none;

    padding    : 3px 14px;
    border     : 1px solid #867d67;
    color      : #867d67;
    font-size  : 14.399px;
    font-size  : 1.2rem;
    font-weight: 400;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.section-block {
    padding: 12px 0;

    @media screen and (max-width: 700px) {
        padding: 12px 14px;
    }
}

.painters {

    &-item {
        display: flex;
        padding: 18px 0;
        margin-bottom: 5px;

        &:not(:last-child) {
            margin-top: 5px;
            border-bottom: 1px solid #ccc;
        }

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }

    &-avatar-container {
        float       : left;
        margin-right: 20px;
    }

    &-info {
        flex        : 1;

        border-right: 1px dotted #ccc;

        &_icon {
            border-radius: 50%;
        }

        &_person {
            display      : flex;
            align-items  : center;
            margin-bottom: 5px;

            p {
                margin: 0;
            }
        }

        @media screen and (max-width: 700px) {
            border-right:  none;
            border-bottom: 1px dotted #ccc;
            padding-top: 10px;
        }
    }

    &-action {
        min-width   : 140px;
        padding-left: 10px;

        @media screen and (max-width: 700px) {
            padding-top: 20px;
        }

        &_btn {
            @extend .tekijapankki-btn;

            width       : 100%;
            min-width   : 136px;
            padding     : 3px 11px;
            border-color: #548235;
            color       : #548235;

            &:hover {
                background-color: #8bd000;
                color           : white;
            }

            &:focus {
                outline: none;
            }

            &__choosed {
                background: #6ecd5b;
                color: #fff;

                &:before {
                    content: '✔';
                    margin-right: 5px;
                }
            }
        }

    }

}

.tab-list {
    [role="tablist"]:before {
        border: none;
    }
}